.none{
    display: none;
}

table{
    border-collapse: collapse;
    margin: 0 auto;
    border: 3px solid black;
    table-layout: fixed;
    width: 100%; 
}

th, td{
    border: 2px solid black;
    padding: 5px 1em;
    font-size: 1.4em;
    border-collapse: collapse;
    text-align: center;
    word-break: break-all;
}

th{
    background-color: #555;
    border: 3px solid black;
}

.title-td:hover{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

tr:nth-child(even), thead{
    background-color: #888;
    color: white;
}

.fixed{
    position: fixed;
}

.book-detail{
    top: 20vh;
    left: 20vw;
    background-color: #fff;
    border: 1px solid black;
    height: 60vh;
    width: 60vw;
    z-index: 3;
    padding: 20px;
    font-size: large;
    overflow-y: scroll;
}

.background-dark{
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
    height: 100vh;
    width: 100vw;
    z-index: 2;
}

#close-icon{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    cursor: pointer;
}

#close-icon:hover{
    opacity: 0.5;
}

.book-detail p{
    margin: 1em 0;
}

#title-detail{
    font-size: 2em;
}

#author-detail{
    font-size: large;
}

#author-detail{
    font-style: italic;
}

#parution-detail{
    font-weight: bold;
}

#add-book-button{
    display: block;
    width: fit-content;
    text-align: center;
    margin: 15px auto 30px auto;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    padding: 10px 15px;
    border-radius: 10px;
}

#add-book-button:hover{
    background-color: #aaa;
    box-shadow: 5px 5px 2px inset #888;
}

.delete-button, .modify-button{
    margin: 5px;
    width: 30px;
}

.modify-button:hover{
    filter: opacity(0.5);
}

.status{
    display: block;
    margin: 0 0 5px 0;
    font-size: larger;
    color: rgb(9, 150, 9);
    font-weight: bolder;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    table{
        display: none;
    }
}