h1{
    margin: 20px;
    color: #FE4A49;
}

main{
    padding: 40px;
}

main p{
    font-size: large;
}

#main-illustration{
    display: block;
    margin: 30px auto;
    border: 1px solid #000;
    width: 600px;
}
